---
import type { Report } from "@app-types/report";
import { dateTimeFormatter, getIsValidDate } from "@utils/formatters";
import i18next, { t } from "i18next";

import "venobox/dist/venobox.min.css";

/* export interface DetailsData {
  id: number;
  status: string;
  user_created?: string;
  date_created?: Date;
  user_updated?: string;
  date_updated?: Date;
  location?: { type: "Point"; coordinates: [number, number] };
  // bike_brand_model?: number;
  bike_brand_model?: string;
  theft_date?: Date;
  description?: string;
  // colors?: object;
  colors?: string[];
  serial_number?: string;
  bike_type?: string;
  approximate_value?: number;
  approximate_value_currency?: string;
  theft_location_type?: string;
  lock_type?: string;
  lock_anchor?: string;
  // language?: number;
  language?: string;
  main_photo?: string;
  is_electric?: boolean;
  theft_timeframe?: string;
  bike_details?: string;
  location_address?: string;
  location_details?: object;
  ref_url?: string;
  email?: string;
  activation_code?: string;
  theft_status: string;
  // tags?: object;
  tags?: string[];
  submit_by?: string;
  // bike_brand?: number;
  bike_brand?: string;
} */

export interface DetailsSectionProps {
  class?: string;
  data: Report.ReportDetails;
}

const {
  class: classes,
  data: {
    user_created,
    date_created,
    date_updated,
    main_photo,
    bike_brand_model,
    theft_date,
    theft_timeframe,
    bike_type,
    colors,
    serial_number,
    is_electric,
    approximate_value,
    approximate_value_currency,
    theft_location_type,
    lock_anchor,
    lock_type,
    description,
    location_address,
    location,
    photos,
    bike_details
  }
} = Astro.props as DetailsSectionProps;

type StringOrNullOrUndefined = string | null | undefined;

let dateCreatedFormatted = null as StringOrNullOrUndefined;

if (date_created && getIsValidDate(date_created)) {
  dateCreatedFormatted = dateTimeFormatter({
    date: date_created,
    locale: i18next.language,
    options: {
      month: "long",
      day: "numeric",
      year: "numeric",
      hour: "2-digit",
      minute: "2-digit"
    }
  });
}

let dateUpdatedFormatted = null as StringOrNullOrUndefined;

if (date_updated && getIsValidDate(date_updated)) {
  dateUpdatedFormatted = dateTimeFormatter({
    date: date_updated,
    locale: i18next.language,
    options: {
      month: "long",
      day: "numeric",
      year: "numeric",
      hour: "2-digit",
      minute: "2-digit"
    }
  });
}

let theftDateFormatted = null as StringOrNullOrUndefined;

if (theft_date && getIsValidDate(theft_date)) {
  theftDateFormatted = dateTimeFormatter({
    date: theft_date,
    locale: i18next.language,
    options: {
      month: "long",
      day: "2-digit",
      year: "numeric"
    }
  });
}

const colorsStr =
  colors && colors.map((clr) => clr[0].toUpperCase() + clr.slice(1)).join(", ");
---

<section class:list={["mb-4", {}, classes]}>
  <!-- upper part -->
  <div
    class="flex items-center justify-between gap-4 py-4 border-t border-b border-gray-200"
  >
    <!-- username upper part -->
    <div class="md:inline-flex md:items-center md:gap-4 text-gray-500">
      <p>
        Reported by
        <span class="text-gray-800 font-bold">{user_created ?? "-"}</span>
      </p>
      <span class="dot hidden w-2 h-2 rounded-full bg-customgray-300 md:block"
      ></span>
      <p>{dateUpdatedFormatted ?? "-"}</p>
    </div>
    <!-- share upper part -->
    <div class="flex-shrink-0 inline-flex items-center gap-4">
      <button
        id="shareDropdownButton"
        data-dropdown-toggle="socials-share-dropdown"
        data-dropdown-trigger="hover"
        class="text-gray-800 inline-flex items-center gap-x-3 border border-gray-800 rounded-lg py-2.5 px-5"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="fill-gray-800"
            d="M21 12L14 5V9C7 10 4 15 3 20C5.5 16.5 9 14.9 14 14.9V19L21 12Z"
          ></path>
        </svg>

        <span class="text-sm font-semibold text-customgray-800">Share</span>
      </button>
      <!-- dropdown for sharing -->
      <div
        id="socials-share-dropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="shareDropdownButton"
        >
          <li>
            <a
              href="#"
              class="flex items-center gap-x-1 px-4 py-2 hover:bg-gray-100"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="fill-gray-700"
                  d="M11 17H7C5.61667 17 4.43733 16.5123 3.462 15.537C2.48667 14.5617 1.99933 13.3827 2 12C2 10.6167 2.48767 9.43733 3.463 8.462C4.43833 7.48667 5.61733 6.99933 7 7H11V9H7C6.16667 9 5.45833 9.29167 4.875 9.875C4.29167 10.4583 4 11.1667 4 12C4 12.8333 4.29167 13.5417 4.875 14.125C5.45833 14.7083 6.16667 15 7 15H11V17ZM8 13V11H16V13H8ZM13 17V15H17C17.8333 15 18.5417 14.7083 19.125 14.125C19.7083 13.5417 20 12.8333 20 12C20 11.1667 19.7083 10.4583 19.125 9.875C18.5417 9.29167 17.8333 9 17 9H13V7H17C18.3833 7 19.5627 7.48767 20.538 8.463C21.5133 9.43833 22.0007 10.6173 22 12C22 13.3833 21.5123 14.5627 20.537 15.538C19.5617 16.5133 18.3827 17.0007 17 17H13Z"
                ></path>
              </svg>

              <span>Copy link</span>
            </a>
          </li>

          <li>
            <a
              href="#"
              class="flex items-center gap-1 px-4 py-2 hover:bg-gray-100"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="fill-mail"
                  d="M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 8L12 13L4 8V6L12 11L20 6V8Z"
                ></path>
              </svg>
              <span>Email</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center gap-1 px-4 py-2 hover:bg-gray-100"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="fill-facebook"
                  d="M22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 16.84 5.44 20.87 10 21.8V15H8V12H10V9.5C10 7.57 11.57 6 13.5 6H16V9H14C13.45 9 13 9.45 13 10V12H16V15H13V21.95C18.05 21.45 22 17.19 22 12Z"
                ></path>
              </svg>
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center gap-1 px-4 py-2 hover:bg-gray-100"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="fill-pinterest"
                  d="M9.04 21.54C10 21.83 10.97 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C20.9464 17.1957 22 14.6522 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7362 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2C10.6868 2 9.38642 2.25866 8.17317 2.7612C6.95991 3.26375 5.85752 4.00035 4.92893 4.92893C3.05357 6.8043 2 9.34784 2 12C2 16.25 4.67 19.9 8.44 21.34C8.35 20.56 8.26 19.27 8.44 18.38L9.59 13.44C9.59 13.44 9.3 12.86 9.3 11.94C9.3 10.56 10.16 9.53 11.14 9.53C12 9.53 12.4 10.16 12.4 10.97C12.4 11.83 11.83 13.06 11.54 14.24C11.37 15.22 12.06 16.08 13.06 16.08C14.84 16.08 16.22 14.18 16.22 11.5C16.22 9.1 14.5 7.46 12.03 7.46C9.21 7.46 7.55 9.56 7.55 11.77C7.55 12.63 7.83 13.5 8.29 14.07C8.38 14.13 8.38 14.21 8.35 14.36L8.06 15.45C8.06 15.62 7.95 15.68 7.78 15.56C6.5 15 5.76 13.18 5.76 11.71C5.76 8.55 8 5.68 12.32 5.68C15.76 5.68 18.44 8.15 18.44 11.43C18.44 14.87 16.31 17.63 13.26 17.63C12.29 17.63 11.34 17.11 11 16.5L10.33 18.87C10.1 19.73 9.47 20.88 9.04 21.57V21.54Z"
                ></path>
              </svg>

              <span>Pinterest</span>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center gap-1 px-4 py-2 hover:bg-gray-100"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="fill-twitter"
                  d="M22.46 6C21.69 6.35 20.86 6.58 20 6.69C20.88 6.16 21.56 5.32 21.88 4.31C21.05 4.81 20.13 5.16 19.16 5.36C18.37 4.5 17.26 4 16 4C13.65 4 11.73 5.92 11.73 8.29C11.73 8.63 11.77 8.96 11.84 9.27C8.28004 9.09 5.11004 7.38 3.00004 4.79C2.63004 5.42 2.42004 6.16 2.42004 6.94C2.42004 8.43 3.17004 9.75 4.33004 10.5C3.62004 10.5 2.96004 10.3 2.38004 10V10.03C2.38004 12.11 3.86004 13.85 5.82004 14.24C5.19077 14.4122 4.53013 14.4362 3.89004 14.31C4.16165 15.1625 4.69358 15.9084 5.41106 16.4429C6.12854 16.9775 6.99549 17.2737 7.89004 17.29C6.37367 18.4904 4.49404 19.1393 2.56004 19.13C2.22004 19.13 1.88004 19.11 1.54004 19.07C3.44004 20.29 5.70004 21 8.12004 21C16 21 20.33 14.46 20.33 8.79C20.33 8.6 20.33 8.42 20.32 8.23C21.16 7.63 21.88 6.87 22.46 6Z"
                ></path>
              </svg>

              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center gap-1 px-4 py-2 hover:bg-gray-100"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="fill-whatsapp"
                  d="M12.001 2C17.524 2 22.001 6.477 22.001 12C22.001 17.523 17.524 22 12.001 22C10.2338 22.0029 8.49765 21.5352 6.97099 20.645L2.00499 22L3.35699 17.032C2.46608 15.5049 1.99804 13.768 2.00099 12C2.00099 6.477 6.47799 2 12.001 2ZM8.59299 7.3L8.39299 7.308C8.26351 7.31589 8.13697 7.3499 8.02099 7.408C7.91251 7.46943 7.81349 7.54622 7.72699 7.636C7.60699 7.749 7.53899 7.847 7.46599 7.942C7.09611 8.4229 6.89696 9.01331 6.89999 9.62C6.90199 10.11 7.02999 10.587 7.22999 11.033C7.63899 11.935 8.31199 12.89 9.19999 13.775C9.41399 13.988 9.62399 14.202 9.84999 14.401C10.9534 15.3725 12.2682 16.073 13.69 16.447L14.258 16.534C14.443 16.544 14.628 16.53 14.814 16.521C15.1052 16.506 15.3896 16.4271 15.647 16.29C15.7779 16.2225 15.9057 16.1491 16.03 16.07C16.03 16.07 16.073 16.042 16.155 15.98C16.29 15.88 16.373 15.809 16.485 15.692C16.568 15.606 16.64 15.505 16.695 15.39C16.773 15.227 16.851 14.916 16.883 14.657C16.907 14.459 16.9 14.351 16.897 14.284C16.893 14.177 16.804 14.066 16.707 14.019L16.125 13.758C16.125 13.758 15.255 13.379 14.723 13.137C14.6673 13.1127 14.6077 13.0988 14.547 13.096C14.4786 13.089 14.4094 13.0967 14.3442 13.1186C14.279 13.1405 14.2193 13.1761 14.169 13.223C14.164 13.221 14.097 13.278 13.374 14.154C13.3325 14.2098 13.2753 14.2519 13.2098 14.2751C13.1443 14.2982 13.0733 14.3013 13.006 14.284C12.9408 14.2665 12.877 14.2445 12.815 14.218C12.691 14.166 12.648 14.146 12.563 14.11C11.9891 13.8595 11.4577 13.5211 10.988 13.107C10.862 12.997 10.745 12.877 10.625 12.761C10.2316 12.3842 9.88871 11.958 9.60499 11.493L9.54599 11.398C9.50361 11.3342 9.46935 11.2653 9.44399 11.193C9.40599 11.046 9.50499 10.928 9.50499 10.928C9.50499 10.928 9.74799 10.662 9.86099 10.518C9.97099 10.378 10.064 10.242 10.124 10.145C10.242 9.955 10.279 9.76 10.217 9.609C9.93699 8.925 9.64699 8.244 9.34899 7.568C9.28999 7.434 9.11499 7.338 8.95599 7.319C8.90199 7.313 8.84799 7.307 8.79399 7.303C8.6597 7.29633 8.52512 7.29766 8.39099 7.307L8.59199 7.299L8.59299 7.3Z"
                ></path>
              </svg>
              <span>Whatsapp</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center gap-1 px-4 py-2 hover:bg-gray-100"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="fill-telegram"
                  d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM16.64 8.8C16.49 10.38 15.84 14.22 15.51 15.99C15.37 16.74 15.09 16.99 14.83 17.02C14.25 17.07 13.81 16.64 13.25 16.27C12.37 15.69 11.87 15.33 11.02 14.77C10.03 14.12 10.67 13.76 11.24 13.18C11.39 13.03 13.95 10.7 14 10.49C14.0069 10.4582 14.006 10.4252 13.9973 10.3938C13.9886 10.3624 13.9724 10.3337 13.95 10.31C13.89 10.26 13.81 10.28 13.74 10.29C13.65 10.31 12.25 11.24 9.52 13.08C9.12 13.35 8.76 13.49 8.44 13.48C8.08 13.47 7.4 13.28 6.89 13.11C6.26 12.91 5.77 12.8 5.81 12.45C5.83 12.27 6.08 12.09 6.55 11.9C9.47 10.63 11.41 9.79 12.38 9.39C15.16 8.23 15.73 8.03 16.11 8.03C16.19 8.03 16.38 8.05 16.5 8.15C16.6 8.23 16.63 8.34 16.64 8.42C16.63 8.48 16.65 8.66 16.64 8.8Z"
                ></path>
              </svg>

              <span>Telegram</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- main part -->
<div class="my-4 space-y-8 xl:flex xl:items-center xl:space-y-0 xl:gap-24">
  <!-- left-col -->
  <div class="my-4 px-4 lg:px-0 lg:my-0">
    {
      main_photo?.id && (
        <a
          class="venobox main-photo"
          data-gall="gallery01"
          href={main_photo.filename_download}
        >
          <img
            class="w-full h-full object-contain max-h-108 xl:max-h-full"
            src={main_photo.filename_download}
            width={main_photo.width}
            height={main_photo.height}
            alt=""
          />
        </a>
      )
    }

    <div class="mt-4 w-full overflow-hidden">
      <div class="flex gap-4">
        {
          photos.length > 0 &&
            photos.map((photo) => (
              <a
                class="venobox basis-full"
                data-gall="gallery01"
                href={photo.directus_files_id.filename_download}
              >
                <img
                  class="w-full h-full  object-cover rounded-lg"
                  src={photo.directus_files_id.filename_download}
                  width={photo.directus_files_id.width}
                  height={photo.directus_files_id.height}
                  alt=""
                />
              </a>
            ))
        }
      </div>
    </div>
  </div>
  <!-- right-col -->
  <div class="xl:flex-shrink-0">
    <div class="flex items-center justify-between gap-4">
      <div class="inline-flex items-center gap-4 flex-shrink-0">
        <span class="text-gray-800 font-medium"
          >{(t("details.bike_status"), "Bike Status")}:</span
        >

        <div
          class="inline-flex items-center bg-red-100 rounded-full px-2.5 py-1 text-red-800 gap-2"
        >
          <span class="dot block w-3 h-3 rounded-full bg-red-500"></span>
          <span class="">Stolen</span>
        </div>
      </div>

      <p class="text-right text-gray-500 italic flex-shrink">
        {t("details.last_update", "last update")}
        <span class="block">{dateUpdatedFormatted}</span>
      </p>
    </div>

    <h1 class="mt-4 text-4xl font-bold text-customgray-800">
      {bike_brand_model.bike_brand.name}
    </h1>
    <h2 class="text-4xl font-normal">{bike_brand_model.name}</h2>

    <div class="flex items-center justify-between text-gray-800 my-5">
      <span class="text-gray-500"
        >{t("report.data.date_theft", "Date of Theft")}</span
      >

      <p class="space-x-3">
        {theftDateFormatted && <span>{theftDateFormatted}</span>}
        {
          theft_timeframe && (
            <span>
              {t(
                `report.data.theft_timeframe.${theft_timeframe}`,
                theft_timeframe
              )}
            </span>
          )
        }
      </p>
    </div>

    <div
      class="py-5 border-y border-gray-200 grid grid-cols-2 gap-4 md:grid-cols-4"
    >
      {
        bike_type && (
          <div>
            <p class="font-bold text-gray-800">
              {t("report.data.bike_type", "Bike Type")}
            </p>
            <p class="text-gray-600 mt-3">{bike_type}</p>
          </div>
        )
      }
      {
        colors && colors.length > 0 && (
          <div>
            <p class="font-bold text-gray-800">
              {t("report.data.bike_colors", "Bike Main Colors")}
            </p>
            <p class="text-gray-600 mt-3">{colorsStr}</p>
          </div>
        )
      }
      {
        serial_number && (
          <div>
            <p class="font-bold text-gray-800">
              {t("report.data.bike_type", "Serial Number")}
            </p>
            <p class="text-gray-600 mt-3">{serial_number}</p>
          </div>
        )
      }

      <div>
        <p class="font-bold text-gray-800">
          {t("report.data.is_electric", "Electric Bike")}
        </p>
        <p class="text-gray-600 mt-3">
          {
            t(
              `report.data.is_electic.${is_electric}`,
              is_electric ? "Electric Bike" : "Non Electic Bike"
            )
          }
        </p>
      </div>
    </div>

    <!-- other details -->
    <div class="mt-5">
      <h3 class="text-gray-800 capitalize font-semibold">
        {t(`report.data.other_details`, "Other Details")}
      </h3>

      <div class="mt-3 relative overflow-x-auto sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
          <tbody class="text-gray-900">
            <tr class="bg-white border-b">
              <th scope="row" class="p-4 font-medium whitespace-nowrap">
                {t("report.data.approximate_value", "Approximate Value")}
              </th>
              <td class="p-4 font-semibold">
                {approximate_value_currency ?? ""}
                {approximate_value ?? ""}
              </td>
            </tr>
            <tr class="border-b bg-gray-50">
              <th scope="row" class="p-4 font-medium whitespace-nowrap">
                {t("report.data.theft_location_type", "Last Location")}
              </th>
              <td class="p-4 font-semibold capitalize">
                {theft_location_type ?? ""}</td
              >
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="p-4 font-medium whitespace-nowrap">
                {t("report.data.lock_type", "Lock Type")}
              </th>
              <td class="p-4 font-semibold">
                {lock_type ?? ""}
              </td>
            </tr>
            <tr class="border-b bg-gray-50">
              <th scope="row" class="p-4 font-medium whitespace-nowrap">
                {t("report.data.lock_anchor", "Anchor Point")}
              </th>
              <td class="p-4 font-semibold"> {lock_anchor ?? ""}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- actions -->
    <div class="mt-5 flex flex-col gap-3 md:grid md:grid-cols-2 md:gap-12">
      <button
        class="flex items-center justify-center gap-x-2 border border-primary-700 rounded-lg p-3 text-primary-700"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask
            id="mask0_29_13675"
            style="mask-type:alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="20"
            height="20"
          >
            <rect width="20" height="20" fill="#D9D9D9"></rect>
          </mask>
          <g mask="url(#mask0_29_13675)">
            <path
              class="fill-primary-700"
              d="M10 17.5C8.95833 17.5 7.98264 17.3021 7.07292 16.9062C6.16319 16.5104 5.37153 15.9757 4.69792 15.3021C4.02431 14.6285 3.48958 13.8368 3.09375 12.9271C2.69792 12.0174 2.5 11.0417 2.5 10C2.5 8.95833 2.69792 7.98264 3.09375 7.07292C3.48958 6.16319 4.02431 5.37153 4.69792 4.69792C5.37153 4.02431 6.16319 3.48958 7.07292 3.09375C7.98264 2.69792 8.95833 2.5 10 2.5C11.1389 2.5 12.2188 2.74306 13.2396 3.22917C14.2604 3.71528 15.125 4.40278 15.8333 5.29167V3.33333H17.5V8.33333H12.5V6.66667H14.7917C14.2222 5.88889 13.5208 5.27778 12.6875 4.83333C11.8542 4.38889 10.9583 4.16667 10 4.16667C8.375 4.16667 6.99653 4.73264 5.86458 5.86458C4.73264 6.99653 4.16667 8.375 4.16667 10C4.16667 11.625 4.73264 13.0035 5.86458 14.1354C6.99653 15.2674 8.375 15.8333 10 15.8333C11.4583 15.8333 12.7326 15.3611 13.8229 14.4167C14.9132 13.4722 15.5556 12.2778 15.75 10.8333H17.4583C17.25 12.7361 16.434 14.3229 15.0104 15.5938C13.5868 16.8646 11.9167 17.5 10 17.5Z"
            ></path>
          </g>
        </svg>
        <span>{t("report.update_bike_status", "Update Bike Status")}</span>
      </button>
      <button
        class="flex items-center justify-center gap-x-2 border border-transparent bg-primary-700 rounded-lg p-3 text-white"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="fill-white"
            d="M2.00299 5.884L9.99999 9.882L17.997 5.884C17.9674 5.37444 17.7441 4.89549 17.3728 4.54523C17.0015 4.19497 16.5104 3.99991 16 4H3.99999C3.48958 3.99991 2.99844 4.19497 2.62717 4.54523C2.2559 4.89549 2.03259 5.37444 2.00299 5.884Z"
          ></path>
          <path
            class="fill-white"
            d="M18 8.11792L10 12.1179L2 8.11792V13.9999C2 14.5304 2.21071 15.0391 2.58579 15.4141C2.96086 15.7892 3.46957 15.9999 4 15.9999H16C16.5304 15.9999 17.0391 15.7892 17.4142 15.4141C17.7893 15.0391 18 14.5304 18 13.9999V8.11792Z"
          ></path>
        </svg>

        <span>{t("report.contact_author", "Contact the Author")}</span>
      </button>
    </div>
  </div>
</div>

<!-- text block + map -->
<div class="py-4 grid gap-6">
  {
    bike_details && (
      <div>
        <h3 class="text-lg font-semibold text-gray-800">
          {t("report.bike_details", "Bike Description")}
        </h3>
        <p class="mt-2 text-gray-500">{bike_details}</p>
      </div>
    )
  }
  {
    description && (
      <div>
        <h3 class="text-lg font-semibold text-gray-800">
          {t("report.circumstances", "Circumstances")}
        </h3>
        <p class="mt-2 text-gray-500">{description}</p>
      </div>
    )
  }
  {
    location_address && (
      <div>
        <h3 class="text-lg font-semibold text-gray-800">
          {t("report.location", "Precise Location")}
        </h3>
        <p class="mt-2 text-gray-500">{location_address}</p>
      </div>
    )
  }

  <a
    class="inline-block w-fit font-bold underline underline-offset-4 hover:text-primary-600 focus:text-primary-600"
    href=`https://www.google.com/maps?q=${location.coordinates[0]},${location.coordinates[1]}`
    >Go to Google Maps</a
  >
</div>

<!-- venobox lightbox -->
<script>
  import VenoBox from "venobox";

  new VenoBox({
    // selector: '.my-image-links',
    numeration: true,
    infinigall: true,
    spinner: "wander",
    spinColor: "#1c64f2",
    share: true,
    shareStyle: "pill"
  });
</script>

<!-- share -->
<script></script>
