---
import { language } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

import { SEO } from "astro-seo";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";

export interface Props {
  lang: string;
  title: string;
  description: string;
}

//const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

/*
const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();
*/

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- <meta name="generator" content={Astro.generator} /> -->

    <!-- Twitter
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
    -->

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->

    <SEO title={title} description={description} />
    {
      /*
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "OG: " + title,
          description: description,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: title,
        },
      }}
      */
    }
    <HeadHrefLangs />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />

    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
