---
import i18next, { t } from "i18next";
import BaseLayout from "@layouts/Base.astro";
import Form from "@components/Form.vue";

const args = {
  locale: Astro.url.searchParams.get("locale") || "en",
  id: Astro.url.searchParams.get("id") || 0,
};

await i18next.changeLanguage(args.locale);

let origin = new URL(Astro.url).origin

let photoTranslation = t(`forms.report.questions.photos.title`, { n: 4 })

let fff = {data: []}

try{
  fff = await (
    await fetch(`${origin}/api/bike_brand.json`)
  ).json()
} catch(e){
  console.log("Error")
}
---

<BaseLayout title={t("pages.report_form.title")} description="" lang={args.locale}>
  <div class="container max-w-3xl mx-auto mt-10">
    <div class="border">
      <div class="p-4 text-center">
        <h1 class="text-2xl">{t("pages.report_form.title")}</h1>
        <p class="mt-2">{t("pages.report_form.subtitle")}</p>
      </div>
      <div class="w-full h-[1px] bg-gray-200"></div>
      <div class="p-4">
        <Form client:load bikeBrand={fff.data} lang={args.locale} photoTranslation={photoTranslation} maxUploads={4} currency="EU"/>
      </div>
    </div>
  </div>
</BaseLayout>
