---
import { Debug } from 'astro/components';

import i18next, { t } from "i18next";

import BaseLayout from "@layouts/Base.astro";
import config from "@utils/config";

import Report from "@models/report";

const args = {
    locale: Astro.url.searchParams.get("locale") || 'en',
    id: Astro.url.searchParams.get("id") || 0
}

if (!args.id) {
    return await config.http404();
}

let report = await Report(args.id);

if (! report ) {
    return await config.http404();
}

console.log(report)

await i18next.changeLanguage(args.locale)
---
<BaseLayout title={t('test.x')} description="test">
    <div class="container mx-auto">
        <h1>{report.bike_brand_model.bike_brand.name } / {report.bike_brand_model.name }</h1>
        <img src={report.getPhotos()[0]} >

    { Object.keys(report).map( (e) => typeof(report[e]) == 'string' && (
            <div>
                <b>{e}</b>: {report[e]}
            </div>
        )

    ) }
    yy
    </div>
    <!-- <img src=`/photos/${report.main_photo.id}/${data.main_photo.filename_disk}`> -->

    <!-- <Debug data={data}/> -->
</BaseLayout>