---
export interface Props {
	key: string;
	value: string;
	backColor:string;
	
}

const { key, value,backColor} = Astro.props;
const insideStyle = {
        backgroundColor: backColor,
        opacity: 0.8,
    };
---
<li class="link-card list-none w-full no-underline leading-5 px-0 py-0 rounded-md text-gray-700" style={insideStyle}>
	<div class="w p-3 bg-white items-center rounded-lg dark:bg-gray-800 dark:border-gray-700" style={insideStyle}>
		<div class=" w-full no-underline leading-5 px-3 py-4 rounded-md text-gray-700">
			
				<h5 style={{ fontWeight: 'bold' }} class="mb-1 text-lg text-center tracking-tight text-gray-900 dark:text-white" style={insideStyle}>{key}</h5>
			
			<p class="font-normal text-center text-m text-gray-700 dark:text-gray-400" style={insideStyle}>{value}</p>
		</div>
	</div>
</li>

	

	