---
import BaseLayout from "@layouts/Base.astro";

import ListingEntry from "@components/listing/entry.astro";


import i18next from 'i18next'
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

changeLanguage("en");

import type { APIRoute } from 'astro';
import type { APIContext } from 'astro';

import config from '@utils/config'
import weaviate from '@utils/weaviate';
import search from '@utils/search'


let request = Astro.request;
let result = []
let sid = Astro.params.sid

try {
  let b64in = await search.load(sid)

  if ( ! b64in ) {
    return Astro.redirect('/',302);
  }
  await search.extend(sid)




  const query = weaviate.graphql.get()
    .withClassName('Bike')
    .withFields('report_id bike_brand bike_model theft_date filename_download _additional {certainty id}')
    .withNearImage({ image: b64in })
    .withLimit(30)


  let operands = []

  let searchable = ['bike_brand','bike_model']
  for (let e in searchable) {
    e = searchable[e]
    if (Astro.url.searchParams.get(e)) {
      operands.push({
        operator: 'Equal',
        path: [e],
        valueString: Astro.url.searchParams.get(e),
      })
    }
  }

  if (operands.length > 0) {
    query.withWhere({
      operator: 'And',
      operands: operands
    })
  }
/*

  query
    .withWhere({
      operator: 'Equal',
      path: ['bike_model'],
      valueText: 'Caliber',
    })
*/

  const resImage = await query.do();

    //  console.log(resImage)
  // Write result to filesystem
  result = resImage.data.Get.Bike;

  // console.log(result)
} catch (err) {
  throw err;
}


---
<BaseLayout title="Search" lang={i18next.language} description="">
  <div class="container mx-auto">
    <h1>You searched for</h1>
    <img src={`/photos/search/${sid}`} class="object-contain h-48 w-96"/>

    <div class="py-10 px-5 flex flex-wrap gap-6 justify-center">
    { result.map( (e) =>  (

      <div class=" max-w-xs min-w-xs rounded shadow-lg ">
        <!--
        <img class="object-cover	h-64 w-full" src={`/photos/${e._additional.id}/${e.filename_download}`} alt={t("components.listing_card.bike_brand_model_placeholder")}>
        -->
        <img class="object-cover	h-64 w-full" src={`/photos/weaviate/${e._additional.id}`} alt={t("components.listing_card.bike_brand_model_placeholder", {
                  bike_brand_name: e.bike_brand,
                  bike_model_name: e.bike_model
                  } )}>

        <div class="p-5 flex justify-between flex-col">
          <div class="h-32">
            <span>Score: { e._additional.certainty }</span>

            <a >
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                { t("components.listing_card.bike_brand_model_placeholder", {
                  bike_brand_name: e.bike_brand,
                  bike_model_name: e.bike_model
                  })
                }
              </h5>
            </a>
            <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased mb-2">
              { e.theft_date }
            </p>
          </div>
          <div class=" h-12">
            <a href={localizePath("/report/[id]").replace('[id]',e.report_id)} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              {t("components.listing_card.view_report_button.title")}
            </a>
          </div>
        </div>
      </div>



    ))}
    </div>
  </div>
</BaseLayout>