---
import type { SearchOnImage } from "@app-types/search";

import i18next, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

import {
  dateDiffInDays,
  dateTimeFormatter,
  relativeDateTimeFormatter
} from "@utils/formatters";
import { Debug } from "astro/components";

export interface BikesSearchCardData extends SearchOnImage.SearchWeaviteItem {
  lang: string;
}

export interface BikesSearchCardProps extends BikesSearchCardData {
  class?: string;
}

const {
  class: classes,
  _additional: { certainty, id },
  bike_brand,
  bike_model,
  filename_download,
  lang,
  report_id,
  theft_date
} = Astro.props as BikesSearchCardProps;

changeLanguage(i18next.language);

const date = new Date(theft_date);

const diffInDays = dateDiffInDays({ startDate: date });

const formattedDate = dateTimeFormatter({
  date,
  locale: i18next.language
});

const formattedRelativeDate = relativeDateTimeFormatter({
  date,
  locale: i18next.language,
  numberOfUnits: diffInDays
});

const formattedMatchScore = certainty ? (certainty * 100).toFixed(0) : null;

const imgSrc = `/photos/${id}/${filename_download}`;
---

<li
  class:list={[
    "link-card list-none p-4 pb-6 rounded-lg bg-white shadow-md overflow-hidden flex flex-col justify-between",
    {},
    classes
  ]}
>
  <div class="h-56">
    <a href={localizePath("/report/[id]").replace("[id]", report_id)}>
      <img
        class="block w-full h-full max-h-48 object-cover rounded-lg aspect-[4/3]"
        src={imgSrc}
        alt={t("components.listing_card.bike_brand_model_placeholder")}
        loading="lazy"
      />
    </a>
  </div>

  <div
    class="flex flex-col flex-grow flex-shrink-0 self-stretch justify-between"
  >
    {
      certainty && (
        <div class="mt-6">
          <span class="block text-center text-gray-800 text-sm font-medium">
            Match Score: <b>{formattedMatchScore}%</b>
          </span>
          <div class="w-full bg-gray-200 rounded-full h-1.5">
            <div
              class="bg-gradient-to-r from-red-gradient-clr to-teal-gradient-clr h-full rounded-full"
              style={{ width: `${formattedMatchScore}%` }}
            />
          </div>
        </div>
      )
    }
    <div class="pb-2.5 border-b borde-gray-200">
      <h3 class="text-xl font-bold mt-2.5">
        {bike_brand}
      </h3>
      <h4 class="text-gray-500 mt-1">{bike_model}</h4>
    </div>

    <div class="mt-2.5 flex items-center justify-between gap-5">
      <span class="basis-3/12 text-sm text-gray-800 font-medium">
        {t("homepage.theft_date")}
      </span>
      <span class="basis-9/12 text-sm text-gray-500 text-right">
        {formattedDate} ({formattedRelativeDate})
      </span>
    </div>

    <div class="mt-6 flex h-full items-end">
      <a
        class="block w-full text-center leading-5 rounded-md bg-primary-600 py-2 px-4 text-white text-sm"
        href={localizePath("/report/[id]").replace("[id]", report_id)}
      >
        {t("components.listing_card.view_report", "View Report")}
      </a>
    </div>
  </div>
</li>
