---
import type { Report } from "@app-types/report";

import CarouselVue from "@components/carousel/Carousel.vue";
import i18next, { t, changeLanguage } from "i18next";
import config from "@utils/config";

import {
  dateDiffInDays,
  dateTimeFormatter,
  relativeDateTimeFormatter
} from "@utils/formatters";
import { initialPathImg } from "@utils/directus";

export interface BikesCardData extends Report.ReportShort {
  lang: string;
  matchScore?: number;
}

export interface BikesCardProps extends BikesCardData {
  showMatch?: boolean;
}

const {
  id,
  theft_date,
  bike_brand_model,
  location_address,
  main_photo,
  photos,
  matchScore,

  showMatch = false
} = Astro.props as BikesCardProps;

changeLanguage(i18next.language);

const date = new Date(theft_date);

const diffInDays = dateDiffInDays({ startDate: date });

const formattedDate = dateTimeFormatter({
  date,
  locale: i18next.language
});

const formattedRelativeDate = relativeDateTimeFormatter({
  date,
  locale: i18next.language,
  numberOfUnits: diffInDays
});

const imgs = [main_photo];

photos.length > 0 &&
  photos.forEach((photo) => {
    imgs.push({
      id: photo.directus_files_id.id,
      filename_download: photo.directus_files_id.filename_download,
      type: photo.directus_files_id.type,
      width: photo.directus_files_id.width,
      height: photo.directus_files_id.height
    });
  });
---

<li
  class="link-card list-none p-4 pb-6 rounded-lg bg-white shadow-md overflow-hidden flex flex-col justify-between"
>
  <!-- <div class="h-56"> -->
  <div class="h-56">
    <CarouselVue
      client:only
      items={imgs}
      initialPathImg={initialPathImg}
      id={id}
    />
  </div>
  <!-- h-[calc(100%-224px)] -->
  <div
    class="flex flex-col flex-grow flex-shrink-0 self-stretch justify-between"
  >
    {
      showMatch && (
        <div class="mt-6">
          <span class="block text-center text-gray-800 text-sm">
            Match Score: {matchScore}%
          </span>
          <div class="w-full bg-gray-200 rounded-full h-1.5">
            <div
              class="bg-gradient-to-r from-red-gradient-clr to-teal-gradient-clr h-full rounded-full"
              style={{ width: `${matchScore}%` }}
            />
          </div>
        </div>
      )
    }
    <div class="pb-2.5 border-b borde-gray-200">
      <h3 class="text-xl font-bold mt-2.5">
        {bike_brand_model.bike_brand.name}
      </h3>
      <h4 class="text-gray-500 mt-1">{bike_brand_model.name}</h4>
    </div>

    <div class="mt-2.5 flex items-center justify-between gap-5">
      <span class="basis-3/12 text-sm text-gray-800 font-medium">
        {t("homepage.theft_date")}
      </span>
      <span class="basis-9/12 text-sm text-gray-500 text-right">
        {formattedDate} ({formattedRelativeDate})
      </span>
    </div>
    <div
      class="mt-2.5 flex flex-grow flex-shrink-0 items-center justify-between gap-5"
    >
      <span class="basis-3/12 text-sm text-gray-800 font-medium">
        {t("homepage.location")}
      </span>
      <span class="basis-9/12 text-sm text-gray-500 text-right">
        {location_address}</span
      >
    </div>
    <!-- mt-6 -->
    <div class="mt-6 flex h-full items-end">
      <a
        class="block w-full text-center leading-5 rounded-md bg-primary-600 py-2 px-4 text-white text-sm"
        href={`/report/${id}`}
      >
        View Report
      </a>
    </div>
  </div>
</li>
